*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #048B9A;
}

.img-container {
    /* Cette propriete permet l'emboitage des elements de ce container */
    position: relative;  
}

.img{
    height: 650px;
    width: 950px;
    border-radius: 10px;
}

.img-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    /* La proprite transforme aide a centre le texte de facon exacte */
    transform: translate(-50%, -50%);
}

.overlay-text h3 {
    font-size: 24px;
}

.overlay-text p {
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
}

.button-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%,50%);
}

.start-button {
    padding: 10px;
    border-radius: 10px;
    background-color: #048B9A;
    border: none;
}


